[submodule "lib/dotbot"]
	path = lib/dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "lib/dotbot-brewfile"]
	path = lib/dotbot-brewfile
	url = https://github.com/sobolevn/dotbot-brewfile.git
